* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Inter', sans-serif;
    color: #071852;
}

div.container {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

div.container .body-contents section {
    margin-top: 40px;
}

div.container section h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #071852;
    padding: 30px 0;
}

div.container section div.section-contents:nth-child(odd) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center
}

div.container section div.section-contents:nth-child(even) {
    display: flex;
    flex-direction: row;
    background: #fdfdfd;
}

div.container section div.section-contents div {
    width: 45%;
    padding: 40px 5%;
}

div.container section div.section-contents div.image img {
    width: 150px;
    height: 160px;
}

div.container section div.section-contents div.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.container section div.section-contents div.content h4 {
    color: #071852;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
}

div.container section div.section-contents div.content span {
    font-size: 12px;
}

div.container section div.section-contents div.content a button {
    width: 150px;
    height: 30px;
    border-radius: 50rem;
    background: #EB546E;
    color: white;
    margin-top: 12px
}

div.container .body-contents .message {
    color: #071852;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    padding: 0 5%;
    margin-top: 40px;
}

div.container a button {
    width: 150px;
    height: 35px;
    border-radius: 50rem;
    margin: 40px 0;
    background: #071852;
    color: white;
}